body {
    background: #5ddfff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.card {
    width: 600px;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
}

.icon {
    font-size: 28px;
    margin-bottom: 12px;
}

.card input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 999px;
    /* ← ここがポイント */
    border: 2px solid #c9c7fsf;
    outline: none;
    font-size: 14px;
}

.card input::placeholder {
    color: #aaa;
}

.card input:focus {
    border-color: #8f8cff;
}

h1 {
    color: #fd53f7;
    margin-bottom: 0px;
}

.hiku {
    margin-bottom: 2px;
}

#syouhai {
    margin-top: 0px;
    margin-bottom: 0px;
}

#buton1 {
    margin-left: -10px;
    margin-right: 15px;
    box-sizing: border-box;
}

#buton2 {
    margin-right: 15px;
}

#buton4 {
    margin-left: 16px;
}

#msg {
    margin-top: 20px;
}

#input {
    display: flex;
}

#buton7 {
    background: #6c63ff;
    /* 紫 */
    color: #fff;
    /* 文字を白 */
    border: none;
    border-radius: 10px;
    /* 角丸 */
    margin-top: 10px;
    padding: 0px 28px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

#kiroku {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9c1f6;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}

.row button {
    background: #ff6b6b;
    color: white;
    border: none;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 12px;
}

.row p {
    padding-top: -30px;
    padding-bottom: 10px;
}